# Reddit API Credentials
REDDIT_CLIENT_ID=your_client_id
REDDIT_CLIENT_SECRET=your_client_secret
REDDIT_USER_AGENT=your_user_agent

# Project Settings
SUBREDDITS=news,worldnews
LIMIT=10

# Gmail Credentials (for notifications)
GMAIL_USER=mark@ascendaimarketing.com
GMAIL_APP_PASSWORD=npun gfby uytj lzhj


